clover-db
*.exe
json
*.7z
*.pprof
*.json
*.db
.idea
movie
movie-getter
dist/front
dist/admin
src
zig-cache
movie-getter_linux_arm
movie-getter_linux_x86-64_musl
movie-getter_windows_x86-64
movie-getter_linux-arm64-musl
